{% extends "base.html" %}

{% block title %}Holocaust{% endblock %}

{% block about %}  
<h1>Holocaust</h1>
<p><br>TThe Holocaust, also known as Shoah, was the mass murder or genocide of approximately six million Jews during World War II, a programme of systematic state-sponsored murder by Nazi Germany, led by Adolf Hitler and the Nazi Party, throughout the German Reich and German-occupied territories.</p><br>
{% endblock about %}

{% block image %}  
<a><img class="img-responsive" src = "http://upload.wikimedia.org/wikipedia/en/8/89/Selection_Birkenau_ramp.jpg" width="350" height="450"></a>
{% endblock %}
	

{% block data %}
<center><h3>Article Data</h3></center>
<br>
<ul>
	<li><b>Type</b>: Genocide</li>
	<li><b>Time frame</b>: 1933-1945</li>
	<li><b>Location</b>: German occupied Europe</li>
	<li><b>Parties involved</b>: German Nazi Party</li>
	<li><b>Social impact</b>: 

	</li>
	<li><b>Economic impact</b>:

	</li>
	<li><b>References</b>
		<ul>
		<li><a href="http://en.wikipedia.org/wiki/The_Holocaust">Wikipedia</a></li>
	</ul>
	</li>
	<li><b>Related articles</b>: list</li>
	<li><b>Related people</b>: Adolf Hitler</li>
	<li><b>Related Organizations</b>: German Nazi Party</li>
</ul>
</div>	
{% endblock %}

{% block video %} 
<iframe width="480" height="360" src="//www.youtube.com/embed/xxZ9U8NHIWo" frameborder="0" allowfullscreen></iframe>
{% endblock %}

{% block maps %} 
<a><img class="img-responsive" src = "http://upload.wikimedia.org/wikipedia/commons/e/e9/WW2-Holocaust-Europe.png" width="400" height="400"></a>
{% endblock %}

{% block twitter %} 
<a class="twitter-timeline" href="https://twitter.com/search?q=holocaust" data-widget-id="393146817866518528">Tweets about "holocaust"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}