body {
	padding-top: 100px;
}
a.brand {
	font-size: 32pt;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
a.panel-name {
	font-size: 32pt;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 37pt;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
h2 {
	font-size: 30pt;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
p {
	font-size: 17pt;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
a:link{
	font-size: 17pt;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
p1 {
	font-size: 22pt;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
li {
	font-size: 17pt;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
.col-md-4, .col-md-6{
	padding: 35px;
}
#item-row li {
	font-size: 17pt;
}
#item-row {
	padding: 35px;
}
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  height: 500px;
  background-color: black;
}
.carousel-inner > .item > img {
  float: left;
  top: 0;
  left: 0;
  height: 500px;
}
