{% extends "base.html" %}

{% block title %}World Crisies Database | About{% endblock %}

{% block about %}
<center><h1>About The TCP Connections</h1></center>
<br><br>
<div class = "col-md-12">
	<a href = "https://github.com/alek0313"><h2>Anwar (Alek) Merani</h2></a>
	<p>is a fifth year senior graduating with a B.S. in Computer Science. He enjoys music shows and food trucks around Austin when he's not slaving away in the computer lab.</p>
</div><br>
<div class = "col-md-12">
	<a href = "https://github.com/tangurano"><h2>Charles Tang</h2></a>
	<p>is an junior computer science student at the University of Texas at Austin. His last name means "soup" in Chinese.</p>
</div><br>
<div class = "col-md-12">
	<a href = "https://github.com/maxxb"><h2>Maxx Boehme</h2></a>
	<p>is an undergraduate computer science student on his fourth year at the University of Texas at Austin. He is planning on having a future career in computer security but enjoys making games in his free time.</p>
</div><br>
<div class = "col-md-12">
	<a href = "https://github.com/pglass"><h2>Paul Glass</h2></a>
	<p>has an aversion to writing about himself.</p>
</div><br>
<div class = "col-md-12">
	<a href = "http://scott-enriquez.net"><h2>Scottie Enriquez</h2></a>
	<p>is a graduating senior double-majoring in computer science and Asian studies. As of January 2014, he's moved to Anchorage, Alaska. He may or may not have frozen to death.</p>
</div>
<br>
{% endblock %}

{% block copyright %}  
<br><br><p>Designed and Implemented by <a href="/about">The TCP Connections</a></p>
{% endblock %} 