{% extends "base.html" %}

{% block title %}World Crisies Database | About{% endblock %}

{% block about %}
<center><h1>About TCP Connections</h1></center>
<div class = "col-md-4">
	<h2>Alek Merani</h2>
	<p>is an undergraduate computer science student at the University of Texas at Austin.</p>
</div>
<div class = "col-md-4">
	<h2>Charles Tang</h2>
	<p>is an junior computer science student at the University of Texas at Austin. His last name means "soup" in Chinese.</p>
</div>
<div class = "col-md-4">
	<h2>Maxx Boehme</h2>
	<p>is an undergraduate computer science student at the University of Texas at Austin.</p>
</div>
<div class = "col-md-6">
	<h2>Paul Glass</h2>
	<p>is an undergraduate computer science student at the University of Texas at Austin.</p>
</div>
<div class = "col-md-6">
	<h2>Scott Enriquez</h2>
	<p>is a graduating senior double-majoring in computer science and Asian studies. As of January 2014, he's moved to Anchorage, Alaska. He may or may not have frozen to death.</p>
</div>
{% endblock %}
