{% extends "base.html" %}

{% block about %}  

<h1>About WCDB</h1>
<p><br>With the explosion of advanced mobile technologies and social media, news and global awareness are now more prolific than ever before. In the digital age, people want news as quickly as it takes to load a page. The World Crisis Database was created with this notion in mind. Powered by the newest tools and frameworks, CS 373 Software Engineering strives to bring awareness about crises and issues worldwide in a clean, organized, and readable format.</p>

{% endblock about %}

{% block group %}
<div class = "row">
<div class="col-md-12">
  <center>
  <h2>Group name goes here</h2>
  <p>Maxx Boehme</p>
  <p>Alek Anwar Merani</p>
  <p>Scott Enriquez</p>
  <p>Paul Glass</p>
  <p>Charles Tang</p>
  </center>
</div>
</div>  
{% endblock group %}  

{% block links %}
<div class = "row">

<div class="col-md-4">
  <center>
  <h3>Crises</h3>
  <a href="/crises/1">Israel-Palestine Conflict</a><br>
  <a href="/crises/2">Chernobyl disaster</a><br>
  <a href="/crises/3">Holocaust</a><br>
  </center>
</div>  
    
<div class="col-md-4">
  <center>
  <h3>Organizations</h3>
  <a href="/organizations/1">Organization #1</a><br>
  <a href="/organizations/1">Organization #2</a><br>
  <a href="/organizations/1">Organization #3</a><br>
  </center>
</div>  

<div class="col-md-4">
  <center>          
  <h3>People</h3>  
  <a href="/people/1">Person #1</a><br>
  <a href="/people/2">Person #2</a><br>
  <a href="/people/3">Person #3</a><br>
  </center>
</div>

</div>  
{% endblock links %}  
