{% extends "base.html" %}
{% load model_extras %}

{% block title %}World Crises Database | {{ links|get_model_name }}{% endblock %}

{% block links %} 
<div class="col-md-12">
  <center>
  <h1>{{ links|get_model_name }}</h1>
  <br><br>
  <table border="0">
  	{% for l in links %}
  		<tr>
		<td>{{l.id}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  		<td><a href="{{l.id}}">{{l.name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  		<td><p>{{l.kind}}</p></td>
  		</tr>
  	{% endfor %}
  </table>
  </center>
</div>  

{% endblock links %}   