{% extends "base.html" %}

{% block title %}{{people_data.people.name}}{% endblock %}

{% block crisis %}
<center><h1>{{people_data.people.name}}</h1></center>
<br>
<div class="panel-group" id="accordion" style="height: 348px;">

<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
			Additional Information
			</a>
		</h1>
	</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<ul>
					<li><b>Date of Birth</b>: {{people_data.people.dob}}</li>
					<li><b>Location</b>: {{people_data.people.location}}</li>
					<li><b>Type</b>: {{people_data.people.kind}}</li>
					<li><b>External Links</b>:
					{% for x in people_data.people.peoplelinks_set.all %}
						<a href="{{x.external_links}}">{{x.external_links}}</a><br>
					{% endfor %}
					</li>
					<li><b>Citations</b>:
					{% for x in people_data.people.peoplecitations_set.all %}
						<a href="{{x.citations}}">{{x.citations}}</a><br>
					{% endfor %}
					</li>
					<li><b>Related crises</b>:
					{% for p in people_data.crises.all %}
						<p>{{p.name}}</p>
					{% endfor %}
					</li>
					<li><b>Related organizations</b>:
					{% for o in people_data.orgs.all %}
						<p>{{o.name}}</p>
					{% endfor %}
					</li>
<				/ul>
			</div>
		</div>
	</div>
		<div class="panel panel-default">
<div class="panel-heading">
<h1 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
Images
</a>
</h1>
</div>
<div id="collapseThree" class="panel-collapse collapse">
<div class="panel-body">
<br>
{% for x in people_data.people.peopleimages_set.all %}
<center><a><img src = "{{x.image}}"></a></center><br>
{% endfor %}
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h1 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
Videos
</a>
</h1>
</div>
<div id="collapseFour" class="panel-collapse collapse">
<div class="panel-body">
<br>
{% for x in people_data.people.peoplevideos_set.all %}
<center><iframe width="420" height="315" src="{{x.video}}" frameborder="0" allowfullscreen></iframe></center><br>
{% endfor %}
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h1 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
Maps
</a>
</h1>
</div>
<div id="collapseFive" class="panel-collapse collapse">
<div class="panel-body">
<br>
{% for x in people_data.people.peoplemaps_set.all %}
<center><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{x.maps}}"></iframe></center><br>
{% endfor %}
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h1 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
Public Opinion
</a>
</h1>
</div>
<div id="collapseSix" class="panel-collapse collapse">
<br>
{% for x in people_data.people.peopletwitter_set.all %}
<center><a class="twitter-timeline"  href="{{x.twitter}}"  data-widget-id="{{x.widget_id}}"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script><center><br>
{% endfor %}
</div>
</div>
</div>

{% endblock %}