{% extends "base.html" %}

{% block title %}World Crisies Database | SQL Queries{% endblock %}

{% block links %}
<div class="col-md-12">
<center>
<h1>SQL Queries</h1>
<br>
<br>
<table border="0">
<tr><td><center><h3>Our Queries</h1></center></td></tr>
<tr><td><a href="0">Select All Government Organizations</a></td></tr>
<tr><td><a href="1">Select Everything Not Related to Anything Else</a></td></tr>
<tr><td><a href="2">Select the Longest Running Crisis/Crises</a></td></tr>
<tr><td><a href="3">Select Most Related (Most Related People/Crises) Organizations</a></td></tr>
<tr><td><a href="4">Count the Number of Crises Before the 21st Century (Earlier than 2000)</a></td></tr>
<tr><td><center><h3>Queries From Other Groups</h1></center></td></tr>
<tr><td><a href="5">Select the Person/People Involved in the Most Number of Crises</a></td></tr>
<tr><td><a href="6">Select Twitter Account Link of All People</a></td></tr>
<tr><td><a href="7">Select the Youngest People in the Database</a></td></tr>
<tr><td><a href="8">Select the Crises With the Most Resources Needed</a></td></tr>
<tr><td><a href="9">Select the Crisis Kind that has Most Number of Crises</a></td></tr>
</table>
</center>
</div>

{% endblock links %}  