{% extends "base.html" %}

{% block title %}World Crisies Database | SQL Queries{% endblock %}

{% block links %}
<div class="col-md-12">
<center>
<h1>World Crises Database | Queries</h1>
<br><br>
<table border="0">
<tr><td><a href="0">Select all government organizations</a></td></tr>
<tr><td><a href="1">Select everything not related to anything else</a></td></tr>
<tr><td><a href="2">Select the longest running crisis/crises</a></td></tr>
<tr><td><a href="3">Select most related (most related people/crises) organizations</a></td></tr>
<tr><td><a href="4">Count the number of crises before the 21st century (earlier than 2000)</a></td></tr>
<tr><td><a href="5">Select the person/people involved in most number of crises</a></td></tr>
<tr><td><a href="6">Select twitter account link of all people</a></td></tr>
<tr><td><a href="7">Select the youngest people in the database</a></td></tr>
<tr><td><a href="8">Select the crises with the most resources needed</a></td></tr>
<tr><td><a href="9">Select the crisis kind that has most number of crises</a></td></tr>
</table>
</center>
</div>

{% endblock links %}  

{% block copyright %}  
<br><br><p>Designed and Implemented by <a href="/about">The TCP Connections</a></p>
{% endblock %} 