{% extends "base.html" %}
{% block title %}World Crisies Database | Word Cloud{% endblock %}

{% block wordcloud %}
{% with "/static/assets/word-cloud/"|add:wid|add:".json" as url %}

<input type="hidden" id="url" name="variable" value={{ url }}>

<meta charset="utf-8">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/js/d3.js"></script>
<script src="/static/js/d3.layout.cloud.js"></script>
<div id="vis" class="col-md-12 col-xs-4"></div>

<script>

var json = null;
var url = document.getElementById("url").value;
$.ajax(url,{
  async: false,
  global: false,
   dataType: "json",
   success: function(data) {
     console.log(data);
     json = data;
   },
   error: function(data) {
      console.log("error");
      console.log(data);
   }
});

  var fill = d3.scale.category20();

  d3.layout.cloud().size([1000, 500])
      .words(json.map(function(d) {
        return {text: d.text, size: d.size};
      }))
      .padding(2)
      .rotate(function() { return ~~(Math.random() * 3) * 45; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select("#vis").append("svg")
        .attr("width", 1000)
        .attr("height", 1000)
      .append("g")
        .attr("transform", "translate(500,300)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
</script>
{% endwith %}

{% endblock %}

{% block copyright %} 
<p>&copy; <a href="/static/assets/LICENSE.txt">LICENSE</a>
<p><a href="https://github.com/mbostock/d3"><i class="fa fa-github-square"></a></i> Made Using D3</p>

<br><br><p>Designed and Implemented by <a href="/about">The TCP Connections</a></p>
{% endblock %} 
