{% extends "base.html" %}

{% block title %}World Crisies Database | About{% endblock %}

{% block wordcloud %}
<center><h1>Word Clouds</h1></center>
<div class = "col-md-12">
  <center>
  <h2><a href="all">All summaries on the website</h2></b>
</div><br>

<div class="row">
  <div class= "col-md-4">
    <center>
      <h2><a href="crises">All Crises</a><br></h2>
      <a href="crises1">Israeli-Palestinian Conflict</a><br> 
      <a href="crises2">Chernobyl Disaster</a><br> 
      <a href="crises3">2004 Indian Ocean Tsunami</a><br> 
      <a href="crises4">Bhopal Gas Tragedy</a><br> 
      <a href="crises5">1989 Loma Prieta Earthquake</a><br> 
      <a href="crises6">Sandy Hook Shooting</a><br> 
      <a href="crises7">BP Oil Spill</a><br> 
      <a href="crises8">PRISM</a><br> 
      <a href="crises9">Mexican Drug War</a><br> 
      <a href="crises10">West, TX Explosion</a><br> 
    </center>
  </div>  

  <div class= "col-md-4">
    <center>
      <h2><a href="organizations">All Organizations</a><br></h2>
      <a href="organizations1"> Organization 1</a><br> 
      <a href="organizations2"> Organization 2</a><br> 
      <a href="organizations3"> Organization 3</a><br> 
      <a href="organizations4"> Organization 4</a><br> 
      <a href="organizations5"> Organization 5</a><br> 
      <a href="organizations6"> Organization 6</a><br> 
      <a href="organizations7"> Organization 7</a><br> 
      <a href="organizations8"> Organization 8</a><br> 
      <a href="organizations9"> Organization 9</a><br> 
      <a href="organizations10"> Organization 10</a><br>  
    </center>
  </div>

    <div class= "col-md-4">
    <center>
      <h2><a href="people">All People</a><br></h2>
      <a href="people1"> Person 1</a><br> 
      <a href="people2"> Person 2</a><br> 
      <a href="people3"> Person 3</a><br> 
      <a href="people4"> Person 4</a><br> 
      <a href="people5"> Person 5</a><br> 
      <a href="people6"> Person 6</a><br> 
      <a href="people7"> Person 7</a><br> 
      <a href="people8"> Person 8</a><br> 
      <a href="people9"> Person 9</a><br> 
      <a href="people10"> Person 10</a><br>  
    </center>
  </div>

</div>  
{% endblock %}
