{% extends "base.html" %}

{% block title %}World Crisies Database | About{% endblock %}

{% block wordcloud %}
<center><h1>Word Clouds</h1></center>
<div class = "col-md-12">
  <center>
  <h2><a href="all">All summaries on the website</h2></b>
</div><br>

<div class="row">
  <div class= "col-md-4">
    <center>
      <h2><a href="crises">All Crises</a><br></h2>
      <a href="crises1">Israeli-Palestinian Conflict</a><br> 
      <a href="crises2">Chernobyl Disaster</a><br> 
      <a href="crises3">2004 Indian Ocean Tsunami</a><br> 
      <a href="crises4">Bhopal Gas Tragedy</a><br> 
      <a href="crises5">1989 Loma Prieta Earthquake</a><br> 
      <a href="crises6">Sandy Hook Shooting</a><br> 
      <a href="crises7">BP Oil Spill</a><br> 
      <a href="crises8">PRISM</a><br> 
      <a href="crises9">Mexican Drug War</a><br> 
      <a href="crises10">West, TX Explosion</a><br> 
    </center>
  </div>  

  <div class= "col-md-4">
    <center>
      <h2><a href="organizations">All Organizations</a><br></h2>
      <a href="organizations1"> UNSCEAR</a><br> 
      <a href="organizations2"> PLO</a><br> 
      <a href="organizations3"> Union Carbide Corp.</a><br> 
      <a href="organizations4"> FOCUS</a><br> 
      <a href="organizations5"> Gates Foundation</a><br> 
      <a href="organizations6"> FBI</a><br> 
      <a href="organizations7"> UN</a><br> 
      <a href="organizations8"> DEA</a><br> 
      <a href="organizations9"> NATO</a><br> 
      <a href="organizations10"> British Petroleum</a><br>  
    </center>
  </div>

    <div class= "col-md-4">
    <center>
      <h2><a href="people">All People</a><br></h2>
      <a href="people1"> Yasser Arafat</a><br> 
      <a href="people2"> Warren Andereson</a><br> 
      <a href="people3"> Mikhail Gorbachev</a><br> 
      <a href="people4"> Bill Gates</a><br> 
      <a href="people5"> Benjamin Netanyahu</a><br> 
      <a href="people6"> Kim Joung Un</a><br> 
      <a href="people7"> Al Gore</a><br> 
      <a href="people8"> Dalai Lama</a><br> 
      <a href="people9"> Barack Obama</a><br> 
      <a href="people10"> Saddam Hussein</a><br>  
    </center>
  </div>

</div>  
{% endblock %}
