{% extends "base.html" %}

{% block title %}Mikhail Gorbachev{% endblock %}

{% block about %}
<h1>Mikhail Gorbachev</h1>
<p><br>
Mikhail Gorbachev, former President of the Soviet Union, wrote about the catastrophic accident in 1986 at Ukraine’s Chernobyl nuclear power station in an issue of the Bulletin of the Atomic Scientists. In his essay, titled “Chernobyl 25 Years Later: Many Lessons,” Gorbachev reflects on the Chernobyl disaster and writes how, two and a half decades later, the nuclear accident offers many lessons for preventing, managing and recovering from such a horrible event — he also writes about key issues that must be addressed for the further development of nuclear power.
</p><br>
{% endblock about %}

{% block image %}
<a><img src = "http://russiapedia.rt.com/files/prominent-russians/leaders/mikhail-gorbachev/mikhail-gorbachev_8-t.jpg"></a>
{% endblock %}


{% block data %}
<center><h3>Article Data</h3></center>
<br>
<ul>
<li><b>Type</b>: General Secretary of the Communist Party of the Soviet Union</li>
<li><b>Location</b>: Deceased November 11, 2004, Clamart, France</li></li>
<li><b>References</b>
<ul>
<li><a href="http://www.scientificcomputing.com/news/2011/03/mikhail-gorbachev-lessons-learned-25-years-after-chernobyl#.UmiGaN9acz0">Scientific Computing</a></li>
<li><a href="http://news.bbc.co.uk/2/hi/europe/4918940.stm">BBC News</a></li>
<li><a href="http://www.biography.com/people/mikhail-sergeyevich-gorbachev-9315721">Bio True Story</a></li>
<li><a href="https://en.wikipedia.org/wiki/Mikhail_Gorbachev">Wikipedia</a></li>
</ul>
</li>
<li><b>Related Organization</b>: UNSCEAR</li>
<li><b>Related Crisis</b>: Chernobyl</li>
</ul>
</div>
{% endblock %}

{% block video %}
<iframe width="420" height="315" src="//www.youtube.com/embed/GLujNV-9cf0" frameborder="0" allowfullscreen></iframe>
{% endblock %}

{% block maps %}
<div style="width:400px;height:400px">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=moscow&amp;aq=&amp;sll=30.307761,-97.753401&amp;sspn=1.209298,0.733337&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Moscow,+gorod+Moskva,+Russia&amp;z=10&amp;ll=55.755826,37.6173&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=moscow&amp;aq=&amp;sll=30.307761,-97.753401&amp;sspn=1.209298,0.733337&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Moscow,+gorod+Moskva,+Russia&amp;z=10&amp;ll=55.755826,37.6173" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
{% endblock %}

{% block twitter %}
<a class="twitter-timeline"  href="https://twitter.com/search?q=Mikhail+Gorbachev"  data-widget-id="393192709822758914">Tweets about "Mikhail Gorbachev"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}