{% extends "base.html" %}

{% block title %}Yasser Arafat{% endblock %}

{% block about %}
<h1>Yasser Arafat</h1>
<p><br>
He was Chairman of the Palestine Liberation Organization (PLO), President of the Palestinian National Authority (PNA), and leader of the Fatah political party and former paramilitary group, which he founded in 1959. Arafat spent much of his life fighting against Israel in the name of Palestinian self-determination. Originally opposed to Israel's existence, he modified his position in 1988 when he accepted UN Security Council Resolution 242. Arafat and his movement operated from several Arab countries.
</p><br>
{% endblock about %}

{% block image %}
<a><img src = "http://www.nndb.com/people/403/000022337/arafat020925.jpg"></a>
{% endblock %}


{% block data %}
<center><h3>Article Data</h3></center>
<br>
<ul>
<li><b>Type</b>: 3rd Chairman of the Palestine Liberation Organization<br>
1st President of the Palestinian National Authority</li>
<li><b>Location</b>: Deceased November 11, 2004, Clamart, France</li></li>
<li><b>References</b>
<ul>
<li><a href="http://www.biography.com/people/yasser-arafat-9187265">Bio True Story</a></li>
<li><a href="http://www.nobelprize.org/nobel_prizes/peace/laureates/1994/arafat-bio.html">Nobelprize.org</a></li>
</ul>
</li>
<li><b>Related Organization</b>: Palestine Liberation Organization (PLO)</li>
<li><b>Related Crisis</b>: Israeli–Palestinian Conflict</li>
</ul>
</div>
{% endblock %}

{% block video %}
<iframe width="560" height="315" src="//www.youtube.com/embed/i0_-Fr0ngbE" frameborder="0" allowfullscreen></iframe>
{% endblock %}

{% block maps %}
<div style="width:400px;height:400px">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Clamart,+France&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=69.187191,46.933594&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Clamart,+Hauts-de-Seine,+%C3%8Ele-de-France,+France&amp;z=13&amp;ll=48.799815,2.257289&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Clamart,+France&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=69.187191,46.933594&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Clamart,+Hauts-de-Seine,+%C3%8Ele-de-France,+France&amp;z=13&amp;ll=48.799815,2.257289" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
{% endblock %}

{% block twitter %}
<a class="twitter-timeline"  href="https://twitter.com/search?q=Yasser+Arafat"  data-widget-id="393191710437539840">Tweets about "Yasser Arafat"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}