{% extends "base.html" %}

{% block title %}United Nations Scientific Committee on the Effects of Atomic Radiation (UNSCEAR){% endblock %}

{% block about %}
<h1>United Nations Scientific Committee on the Effects of Atomic Radiation (UNSCEAR)</h1>
<p><br>UNSCEAR was established in 1955 by the General Assembly of the United Nations. The organizations purpose in the United Nations system is to assess and report levels and effects of exposure to ionizing radiation. Governments and organizations throughout the world rely on the Committee's estimates as the scientific basis for evaluating radiation risk and for establishing protective measures. UNSCEAR was involved in the assessment of radiation exposures and health effects early on during the Chernobyl accident in 1986.</p><br>
{% endblock about %}

{% block image %}
<a><img src = "http://www.irpa.net/images/stories/logo/unscear.gif" width="450" height="300"></a>
{% endblock %}


{% block data %}
<center><h3>Article Data</h3></center>
<br>
<ul>
<li><b>Type</b>: Committee</li>
<li><b>Location</b>: Sessions are held in Vienna International Centre, Vienna, Austria.</li>
<li><b>Contact Info</b>:Tel: 0043 1 26060 4330<br>
Fax: 0043 1 26060 5902<br>
UNSCEAR secretariat<br>
UNITED NATIONS<br>
Vienna International Centre<br>
P.O. Box 500<br>
A-1400 Vienna, AUSTRIA</li>
<li><b>References</b>
<ul>
<li><a href="http://www.unscear.org/">UNSCEAR</a></li>
<li><a href="http://www.bmeia.gv.at/en/austrian-mission/austrian-mission-vienna/organizations-in-vienna/with-offices-at-the-vic/unscear.html">The Austrian Foreign Ministry</a></li>
<li><a href="http://en.wikipedia.org/wiki/United_Nations_Scientific_Committee_on_the_Effects_of_Atomic_Radiation">Wikipedia</a></li>
</ul>
</li>
<li><b>Related Crisis</b>: Chernobyl Disaster</li>
<li><b>Related Person</b>: Mikhail Gorbachev</li>
</ul>
</div>
{% endblock %}

{% block video %}
<iframe width="420" height="315" src="//www.youtube.com/embed/gyLDNq3VBMU" frameborder="0" allowfullscreen></iframe>
{% endblock %}

{% block maps %}
<div style="width:400px;height:400px"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=west%2Bbank%2C%2Bisrael&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe><br><table width="425" cellpadding="0" cellspacing="0" border="0"><tr><td align="left"><small><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=west%2Bbank%2C%2Bisrael&ie=UTF8&z=12&t=m&iwloc=near">View Larger Map</a></small></td><td align="right"><small><a href="http://www.embedgooglemap.com">embed google map</a></small></td></tr></table></div>
{% endblock %}

{% block twitter %}
<a class="twitter-timeline"  href="https://twitter.com/search?q=UNSCEAR"  data-widget-id="393181712336683010">Tweets about "UNSCEAR"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}